body {
    margin: 30px;
    color: white;
    background: black;
    /* font-size: 18px; */
}

nav {
    text-align: right;
    margin-bottom: 4rem;
}

a {
    display: inline-block;
    color: aqua;
    text-decoration: none;
}

a:hover {
    color: yellow;
    text-decoration: underline;
}

nav a {
    padding: 10px 20px;
}

h1,
h2,
h3 {
    margin-top: 1rem;
    margin-bottom: 1.2rem;
}

th,
td {
    color: white;
}

img {
    margin: 1rem 0;
}
